* {
margin: 0;
padding: 0;
text-decoration: none;
font-family: sans-serif;
box-sizing: border-box;
}
footer {
height: 400px;
display: flex;
}
.navbar {
 position: fixed;
 background-color: transparent;
 width: 100%;
 padding: 20px 0;
 top: 0;
 z-index: 999;
 transition: .3s linear;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.inner-width {
width: 1300px;
margin: auto;
height: 30px;
padding: 0 40px;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo {
height: 55px;
width: 55px;
background-image: url('img/logo.png');
background-size: contain;
background-repeat: no-repeat;
}
.menu-toggler {
background: none;
width: 30px;
outline: none;
border: none;
cursor: pointer;
z-index: 999;
position: relative;
display: none;
}
.menu-toggler span {
display: block;
height: 3px;
background-color: #fff;
margin: 6px 0;
position: relative;
transition: .3s linear;
}
.navbar-menu {
width: 400px;
}

.navbar-menu a {
color: white;
font-size: 15px;
font-weight: 500;
margin-left: 40px;
transition: .2s linear;
}
.navbar-menu a:hover {
color: rgb(20, 200, 200);
font-size: 20px;
transition: .2s linear;
}
.Home {
height: 100vh;
width: 100%;
background: linear-gradient(to bottom, red, steelblue);
}

.Home, .inner-width {
display: flex;

}
.Home .content {
padding: 20px;
display: flex;
flex-direction: column;
}
.Home .content h1 {
color: white;
font-size: 60px;
padding: 10px;
}
.Home .content h1::after {
content: " Moody";
animation: textanim 5s linear;

}

.sm, .button {
color: white;
padding: 10px;
text-align: center;
margin-top: 20px;
}
.sm {
color: white;
}
@keyframes textanim{
 50% {
 content: " a developer";
 color: black;
 }
 75% {
 content: " a writer";
   color: black;
 }
  100% {
  content: " a designer";
  color: black;
  }
}
.sm a {
color: white;
padding: 5px;
transition: .2s linear;
}
.sm a:hover {
color: #48dbfb;
}
.button a {
font-width: 15px;
font-weight: 500;
color: white;
margin: 10px;
border: 2px solid #48dbfb;
border-height: 200Px;
padding: 10px 9px;
border-radius: 6px;
display: inline-block;
width: 180px;
}
.button a:hover,
.button a:nth-child(2) {
background: #48dbfb;
transition: .3s linear;
}
@media screen and (max-width: 980px) {
  .menu-toggler {
  display: block;
  }
  .navbar {
  display: flex;
  justify-content: flex-end;

  }
  .navbar-menu {
  position: fixed;
  height: 100vh;
  background-color: grey;
  top: 0;
  right: 0;
  max-width: 400px;
  padding: 80px 0px;
  transition: .2s linear;
  display: none;
  }
  .navbar-menu a {
  display: block;
  padding: 20px;
  font-size: 35px;
  font-weight: 500;
  }
  .navbar-menu a:hover {
  color: cyan;
  font-size: 36px;
  transition: .2s linear;
  }
  .active:nth-child(1) {
  transform: rotate(45deg);
  top: 4px;
  }
  .active:nth-child(2){
  transform: rotate(-45deg);
  bottom: 4px;
  }
  .active:nth-child(3){
  display: none;
  }

}

